body{
    margin: 0;
}

.launcher-title {
    margin: 30px;
    margin-top: 55px;
    text-align: justify;
    color: rgb(247, 247, 247);
    font: normal normal bold 19px/29px Poppins;
}

.div-title-decorrido {
    display: flex;
}

.launcher-title h1 {
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
}

.version-color {
    color: rgb(255, 188, 64);
    margin-left: 15px;
}

.launcher-title h2 {
    text-align: justify;
    color: #F1F1F1;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    font: normal normal bold 18px/29px Poppins;
}

.actividad-proyect {
    margin-left: 15px;
    margin-top: 13px;
    padding: 0.2px;
    text-align: center;
    background-color: rgb(168, 131, 255);
    color: #1b1b1b;
    width: 135px;
    height: 30px;
    font: normal normal bold 12px/29px Poppins;
    border-radius: 10px;
}

.bottom-bar-home {
    position: fixed;
    bottom: 0;
    width: 30%;
    height: 70px;
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    background: #0000005b;
    backdrop-filter: blur(10px);
    display: flex;
}

.icons-settings {
    margin: 30px;
    margin-left: 0;
    width: 15%;
    background: #0000005b;
    backdrop-filter: blur(10px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

.player-head {
    margin: 15px;
    background-image: url("../../images/default/setve.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.player-head:hover {
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.settings-btn {
    margin: 15px;
    text-align: center;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.settings-btn:hover {
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.icon-settings:before {
    font-size: 40px;
}

.icons-redes {
    margin: 30px;
    margin-left: 0;
    width: 10%;
    background: #0000005b;
    backdrop-filter: blur(10px);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
}

.redes-discord {
    margin: 15px;
    background-image: url("../../images/redes/tryfobialogo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    transition: 0.2s;
}

.redes-discord:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgb(202, 253, 255));
    transition: 0.2s;
}

.redes-tw {
    margin: 15px;
    background-image: url("../../images/redes/twitter.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.redes-tw:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgb(202, 253, 255));
    transition: 0.2s;
}

.redes-paypal {
    margin: 15px;
    background-image: url("../../images/redes/paypal.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    transition: all 0.5s cubic-bezier(1, 0.46, 0, 1.29);
}

.redes-paypal:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 10px rgb(202, 253, 255));
    transition: 0.2s;
}

.play-element {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    color: #F1F1F1;
    font: normal normal bold 19px/29px Poppins;
    text-align: center;
}

.play-btn {
    top: 10px;
    width: 160px;
    height: 37px;
    border-radius: 20px;
    border: none;
    background: rgb(255, 255, 255);
    font: normal normal bold 20px/25px Poppins;
    color: #121212;
    margin: 15px 0;
    transition: 0.2s;
}
.play-btn:hover {
    border-radius: 10px;
    color: #F1F1F1;
    box-shadow: 0 0 5px rgb(168, 131, 255);
    background: rgb(168, 131, 255);
    transition: 0.2s;
    cursor: pointer;
    
}

.download-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-download,
.progress-bar {
    display: none;
}

.text-download {
    font-size: 15px;
}

.progress-bar {
    background-color: transparent;
    height: 10px;
}

.progress-bar::-webkit-progress-bar {
    background-color: #797979;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: rgb(251, 249, 255);
    border-radius: 10px;
}

.body-home {
    display: flex;
    position: absolute;
    top: 120px;
    left: 160px;
    height: 57vh;
    margin: 3rem 2rem;
}

.news-list {
    position: relative;
    overflow: auto;
    width: 80%;
}

.news-list::-webkit-scrollbar {
    width: 0;
}

.news-block {
    margin-bottom: 1rem;
    backdrop-filter: blur(10px);
    transition: opacity 0.3s;
    opacity: .5;
}

.news-block:hover {
    transition: opacity 0.3s;
    opacity: 1;
}

.opacity-1 {
    opacity: 1;
}

.news-header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 87px;
    background-color: rgba(5, 5, 5, 0.658);
    backdrop-filter: blur(10px);
    border-radius: 10px 10px 0px 0px;
    transition: color .2s, filter .2s;
}

.title {
    position: absolute;
    font: normal normal bold 27px/40px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    display: flex;
    position: absolute;
    text-decoration: none;
    max-width: calc(100% - 158px);
    font-weight: 600;
    font-size: 18px;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
    overflow: hidden;
    line-height: 25px;
    align-items: center;
    height: 3em;
    transition: color .2s;
}

.date {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #E1E1E1;
    width: 75px;
    text-align: center;
    font-weight: 900;
    font-family: Poppins;
    transition: color .2s;
}

.day {
    font-size: 28px;
    margin-bottom: -10px;
    display: block;
}

.month {
    text-transform: uppercase;
    font-size: 14px;
}

.news-content {
    position: relative;
    width: 100%;
}

.bbWrapper {
    position: relative;
    padding: 20px;
    background-color: rgba(5, 5, 5, 0.541);
    backdrop-filter: blur(10px);
    font-family: Poppins;
    font-size: 13px !important;
    color: #E1E1E1;
    text-decoration: none;
    border-radius: 0px 0px 10px 10px;
    transition: color .2s;
}

.news-author {
    text-align: end;
    margin: 0;
    color: #F1F1F1;
}

.news-author span {
    font-style: italic;
}

.info-list {
    position: relative;
    width: 65vh;
    padding-right: 1rem;
    background: none;
}

.server {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #292929;
    border-radius: 10px;
    transition: opacity 1s;
    opacity: .4;
}

.server:hover {
    transition: opacity 1s;
    opacity: 1;
}

.server-img {
    position: absolute;
    width: 42px;
    height: 45px;
    top: 15px;
    left: 15px;
}

.name {
    position: absolute;
    font: normal normal bold 17px/25px Poppins;
    color: #E1E1E1;
    top: 17px;
    left: 70px;
    transition: color .2s;
}

.desc {
    position: absolute;
    font: normal normal normal 11px/17px Poppins;
    color: #E1E1E1;
    transition: all .2s;
    top: 40px;
    left: 70px;
    transition: color .2s;
}

.green {
    color: #1AC707;
}

.red {
    color: #FF0409;
}

.etat-text {
    position: absolute;
    top: 20px;
    right: 14px;
    width: 49px;
    height: 33px;
    background-color: #262626;
    border-radius: 4px;
    transition: background-color .2s;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font: normal normal bold 13px/15px Poppins;
    letter-spacing: 0px;
    color: #E1E1E1;
    transition: color .2s;
}

.online {
    position: absolute;
    top: -6px;
    left: 41px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid #1A1A1A;
    transition: all .2s;
    background-color: #1AC707;
}

.online.off {
    background-color: #FF0409;
}