@import "font.css";
@import "panels/login.css";
@import "panels/home.css";
@import "panels/settings.css";

* {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    user-select: none;
    /*
    background: linear-gradient(#00000066, #00000066), url("../images/background/light.jpg") black no-repeat center center scroll;
*/
    background-color: transparent;
}

.main-background {
    width: 100vw;
    height: 100vh;
    border-radius: 10px;
    background-image: url(../images/background/fondo-lumi.png);
    /*
    position: relative;
    background-image: url(../images/background/juaniquilacopa.png);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    animation: change 40s infinite ease-in-out;
    */
}
/*
@keyframes change {
    0%
    {
        background-image: url(../images/background/juaniquilacopa2.png);
    }
    20%
    {
        background-image: url(../images/background/juaniquilacopa3.png);
    }
    40%
    {
        background-image: url(../images/background/juaniquilacopa.png);
    }
    60%
    {
        background-image: url(../images/background/juaniquilacopa2.png);
    }
    80%
    {
        background-image: url(../images/background/juaniquilacopa3.png);
    }
    100%
    {
        background-image: url(../images/background/juaniquilacopa2.png);
    }
    
}


.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: 100%;
        height: auto;
    }
    
}

@media (max-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
    
}
*/


img {
    -webkit-user-drag: none;
    user-select: none;
}

.dragbar {
    position: fixed;
    background: #00000080;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 26px;
    -webkit-app-region: drag;
    z-index: 11;
    display: none;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.frame {
    background: transparent;
    position: fixed;
    display: table;
    top: 0px;
    right: 0px;
    z-index: 11;
    -webkit-app-region: no-drag;
    display: none;
}

.hide {
    display: block;
}

.button-frame {
    position: relative;
    display: table-cell;
    width: 30px;
    height: 26px;
    transition: color .2s, background-color .2s;
    color: black;
    cursor: pointer;
}

.icon-close:hover {
    background: #e21212;
}

.icon-minimize:hover,
.icon-restore-down:hover,
.icon-maximize:hover {
    background-color: #0000009d;
}

.icon-close:before,
.icon-minimize:before,
.icon-maximize:before,
.icon-restore-down:before {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
    height: 14px;
    font-size: 14px;
    color: #f8f9f9;
}

.preload-content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preload-progress {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 127px;
}

.preload-title {
    font: normal normal bold 30px/40px Poppins;
    color: #E1E1E1;
    text-align: center;
    margin: 1em 0;
}

.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0;
    pointer-events: none;
}

.active {
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}

.rotation {
    animation: rotation 5s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* ANIMACION CARGANDO */

.preload-animation {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;

}

.preload-animation > div {
    width: 1.5rem;
    height: 1.5rem;
    margin: 3rem .5rem;
    border-radius: 20%;
    background-color: #E1E1E1;
    text-shadow: 2px 2px 6px rgb(0, 0, 0);
    animation: preload-animation .6s infinite alternate;
}

@keyframes preload-animation {
    to {
        opacity: .1;
        transform: translate3d(0, -1rem, 0);
    }
}

.preload-animation > div:nth-child(2) {
    animation-delay: .2s;
}

.preload-animation > div:nth-child(3) {
    animation-delay: .4s;
}